# Configuración de la aplicación
APP_NAME=Template API
DEBUG=false

# Configuración de PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_DB=template_db
POSTGRES_USER=template_user
POSTGRES_PASSWORD=template_password
POSTGRES_PORT=5432

# Configuración de la API
API_HOST=0.0.0.0
API_PORT=8080
